.tile {
	width: 80px;
	height: 80px;
	font-size: 60px;
	font-family: Helvetica;
	background-color: #EAEDED;
	border: 2px solid black;
	border-radius: 20px;
}

.control {
	width: 70px;
	height: 30px;
	font-size: 15px;
	font-family: Helvetica;
	background-color: #D7DBDD;
	border: 2px solid black;
	border-radius: 10px;
	font-weight: bold;
}

.center {
	margin: 0 auto;
}
